#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

#addresses {
  list-style-type: none;
}

#add-address {
  background-color: #e5f7ff;
}
